.jumbotron img{
  height: 20%;
  width: 20%;
}

.jumbotron img.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron h1{
  text-align: center;
}

.panel-body img{
  float: left;
  height: 15%;
  width: 15%;
}
