.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
}

.jumbotron h1{
  text-align: center;
}

.panel-body img{
  float: left;
  height: 15%;
  width: 15%;
  padding: 5px;
}

.glowing{
  color: crimson;
  font-size: 14pt;
}

.epi{
  font-family: fantasy;
  font-size: 14pt;
  font-style: oblique;
}

.sidebar{
  float: right;
  background-color: lightskyblue;
  border: solid;
  border-width: thin;
}

.sidebar img{
  padding: 10px;
  margin-right: 10px;
  margin-left: auto;
}

.sidebar .blocktext{
  float: right;
}

.floattext{
  float: left;
}

.panel-title{
  font-weight: bold;
}

h3{
  font-family: "Times New Roman";
}

.blocktext{
  float: right;
}
